<p id="notice"><%= notice %></p>

<p>
  <b>Story number:</b>
  <%= @status.story_number %>
</p>

<p>
  <b>Story details:</b>
  <%= @status.story_details %>
</p>

<p>
  <b>Story status:</b>
  <%= @status.story_status %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
